* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: #142f44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 35rem;
  background-color: #a2bbcf;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.container input {
  background: transparent;
  border: none;
  outline: none;
  height: 7rem;
  width: 100%;
  margin-top: 4rem;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-align: right;
  color: #fff;
  border-radius: 1rem;
  box-shadow: inset 5px 5px 10px rgba(72, 114, 137, 0.151),
    inset -5px -5px 20px rgba(116, 169, 197, 0.767);
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.btn-container button {
  color: #fff;
  background-color: #205b7a;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3), inset -5px -5px 10px rgba(20, 47, 68, 0.2);

  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-container button:hover {
  background-color: #142f44;
}

.btn-container button:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(20, 47, 68, 0.5);
}

.equal {
  grid-row: span 2;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }

  .container input {
    font-size: 2rem;
  }

  .btn-container button {
    padding: 1.5rem;
    font-size: 2rem;
  }
}
